@* @page "/"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http

@if (recipes == null)
{
<p>No recipes found.</p>
}
else
{
@foreach (var recipe in recipes)
{
<h2>@recipe.Name</h2>
<ul>
@foreach (var item in recipe.Ingredients)
{
<li>@item</li>
}
</ul>
}
}

<button @onclick="OnInitializedAsync">Haha</button>

@code {
    private recipeItem[]? recipes;
    protected override async Task OnInitializedAsync(){
        recipes = await Http.GetFromJsonAsync<recipeItem[]>("https://recipe-api-five.vercel.app/recipes");
        Console.WriteLine(recipes);
    }
    

} *@
