.app {
    margin-top: 1rem;
}

.pages {
    margin: 10rem;
}

.tab1 {
    align-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
}

.tab3 {
    align-content: center;
    align-items: center;
    width: 100%;
}

.card-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}