@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';

/* /Shared/MainLayout.razor.rz.scp.css */
.card-buttons[b-ge86grb0w7] {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.app[b-jbmyw3086o] {
    margin-top: 1rem;
}

.pages[b-jbmyw3086o] {
    margin: 10rem;
}

.tab1[b-jbmyw3086o] {
    align-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
}

.tab3[b-jbmyw3086o] {
    align-content: center;
    align-items: center;
    width: 100%;
}

.card-buttons[b-jbmyw3086o] {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
